@import "./navbar.css";

/* App */
.app-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

/* Login Component */
.loginContainer {
  height: 100%;
}

/* Register Component */
.registerContainer {
  height: 100%;
}

/* To remove extra width from v-color-picker */
.max-width-tags {
  max-width: none !important;
}

/* For Icons in all pages */
.icon-margin-right {
  margin-right: 3px;
}

/* Options Style */
.options-style {
  border: 1px solid black !important;
  position: relative;
  padding: 10px 0px 10px 10px;
  margin-bottom: 15px !important;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  word-wrap: break-word;
}

/* Options style for quiz result */
.options-quiz {
  border: 1px solid black !important;
  position: relative;
  padding: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 16px;
  font-weight: 500;
}

/* Questions text */
.questions-text {
  font-size: 18px;
}

/* For search bar */
.search-bar {
  max-width: 340px !important;
}

/* For v-btn */
.v-btn__content {
  text-transform: capitalize;
}

/* For Cards */
.card-style {
  margin-right: auto !important;
  margin-left: auto !important;
  border-radius: 20px !important;
}
.card-button {
  background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%) !important;
}
.login-rgister-card {
  border: 1px solid !important;
  border-color: #f9f9f9 !important;
  box-shadow: 0px 0px 10px -9px !important;
}

/* For answers */
.right {
  background-color: #d9eee1;
  color: #04aa6d;
}

.wrong {
  background-color: #ffc0c7 !important;
  color: #b94a48;
}

/* For all the headings */
.poppins {
  font-family: "Poppins" !important;
}
