// Globals
// SCSS Community
@use "~ag-grid-community/styles" as ag;

// Choose balham over default alpine
@include ag.grid-styles(
  (
    theme: balham,
  )
);

.ag-theme-balham {
  --ag-grid-size: 5px !important;
  --ag-list-item-height: 5px !important;
  --ag-font-size: 16px !important;
}

$body-font-family: "Poppins";
$font-size-root: 14px;
$btn-sizes: (
  "default": 60,
  "large": 54,
);

.v-application,
.v-application .text-h1,
.v-application .text-h2,
.v-application .text-h5,
.v-application .text-h6 {
  font-family: "Poppins" !important;
}
